/* --------------------------- SIDEBAR -------------------------- */

.social_media_sidebar {
  display: flex;
  justify-content: flex-end;
  background-color: var(--orange);
  padding: 1.2rem 4.5rem;
  gap: 5rem;
}

.social_media_sidebar .fa-brands {
  color: var(--white);
}

/* --------------------------- HERO-SECTION -------------------------- */

.hero_section {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 0;
  position: relative;
  text-align: center;
  color: var(--white);
  /* ----------- */
  position: fixed;
  top: 8rem;
  left: 0;
  right: 0;
  bottom:0;
  z-index:-999;
}

.hero_title {
  position: absolute;
  top: 10%;
  padding: 0 2rem;
}

.hero_title h1 {
  font-size: calc(4.8rem + 1vw);
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.2rem;
}

.hero_title p {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-size: calc(1.2rem + 1vw);
}

.hero_title .hero-title-span-dot {
  color: var(--orange);
  /* color:rgba(0, 0, 78, 0.684); */
}

.hero-backround-image {
  height: 90vh;
  width: 100%;
  object-fit: cover;
  object-position: center;
  filter: brightness(60%);
}

/* --------------------------- STATS-SECTION -------------------------- */

.stats_section {
  display: grid;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin-top: 100vh;
  padding: 8rem 0 12rem;
  gap: 1.2rem;
}

.stats_num {
  width: 100%;
  padding: 4rem 0;
}

.stats_num .fa-solid {
  color: var(--orange);
}

.stats_num .stats-titile {
  color: var(--green);
  font-size: 2.4rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.stats_num .stats-description {
  font-family: "Comic Neue", cursive;
  color: var(--green);
  font-size: 1.6rem;
  width: 80%;
  margin: 0 auto;
}

/* --------------------------- MISSION & VISION SECTION -------------------------- */

.mission_section {
  background-color: var(--orange);
  text-align: center;
  padding: 4rem 0 2rem;
  border-top: 1rem double var(--white);
  border-bottom: 1rem double var(--white);
}

.dog-illustration-picture {
  width: 30%;
  border-radius: 50%;
  margin-top: -12rem;
  border: 1rem double var(--orange);
}

.our_mission,
.our_vision {
  color: var(--white);
  width: 60%;
  margin: 4rem auto 2rem;
}

.our_mission h2,
.our_vision h2 {
  font-size: 2.4rem;
  margin-bottom: 1.5rem;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.25rem;
}

.our_mission p,
.our_vision p {
  font-size: 1.6rem;
}

/* --------------------------- MISSION & VISION SECTION -------------------------- */

.initiatives_section {
  background-color: var(--white);
  text-align: center;
  padding: 2rem 4rem;
}
.initiatives_section .initiative_titile h2 {
  font-size: 2.8rem;
  padding-bottom: 4rem;
  font-weight: 700;
  line-height: 1.5;
  color: var(--green);
}

.initiative_grid .one {
  grid-area: one;
}

.initiative_grid .two {
  grid-area: two;
}

.initiative_grid .three {
  grid-area: three;
}

.initiative_grid .four {
  grid-area: four;
}

.initiative_grid .five {
  grid-area: five;
}

.initiative_grid {
  display: grid;
  gap: 2rem;
  grid-template-areas:
    "one two two three"
    "four four five three";
}

.initiative_grid .grid-items {
  border: 3px solid var(--green);
  border-radius: 5%;
  padding-block: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  transition: all 0.15s;
}

.initiative_grid .grid-items:hover {
  background-color: var(--orange);
  border: 3px double var(--white);
}
.initiative_grid .grid-items:hover h2,
.initiative_grid .grid-items:hover p {
  color: var(--white);
}

.initiative_grid .grid-items h2 {
  font-size: 2.2rem;
  margin-bottom: 1.5rem;
  color: var(--green);
}
.initiative_grid .grid-items p {
  color: var(--green);
  width: 90%;
  margin: 0 auto 1.5rem;
  font-size: 1.6rem;
}
.initiative_grid .grid-items .learn_more-btn {
  background-color: var(--green);
  color: var(--white);
  font-size: 1.3rem;
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.2rem;
  font-weight: 400;
  padding: 0.6em 0.9em;
  margin: 0.3rem;
  border: none;
  border-radius: 5%;
  box-shadow: 0.3rem 0.3rem 0 rgb(0, 83, 0);
  cursor: pointer;
  transition: all 0.1s;
}
.initiative_grid .grid-items .learn_more-btn:active {
  box-shadow: none;
  margin: 0.6rem 0 0 0.6rem;
}

/* --------------------------- VIDEO SECTION -------------------------- */

.video_section {
  background-color: var(--orange);
  text-align: center;
  padding: 3rem 0;
  height: 80vh;
}

.video_section h2 {
  color: var(--white);
  font-size: 2.8rem;
  margin-bottom: 2rem;
}
.video_section .video-title-span-dot {
  color: rgb(0, 119, 0);
}
.video_section .video {
  width: 100%;
  height: 90%;
  margin-bottom: 2rem;
}
/* --------------------------------------------------------- */
/* _______________________ RESPONSIVE ______________________ */
/* --------------------------------------------------------- */
/* 2xl */
@media (max-width: 1536px) {
}

/* xl */
@media (max-width: 1280px) {
}

/* lg */
@media (max-width: 1024px) {
  .initiative_grid {
    grid-template-areas:
      "two two three"
      "five one three"
      "five four four";
  }

}

/* md */
@media (max-width: 768px) {
  .stats_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 6rem 0 10rem;
    gap: 0.7rem;
  }
  .video_section h2 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
}

/* sm */
@media (max-width: 640px) {
  .stats_section {
    display: grid;
    grid-template-columns: 1fr;
    padding: 4rem 0 8rem;
    gap: 0.5rem;
  }

  .initiative_grid {
    grid-template-areas:
      "one"
      "two"
      "three"
      "four"
      "five";
  }
  .video_section {
    height: 50vh;
  }
  .video_section h2 {
    margin-bottom: 0rem;
  }

  .video_section .video {
    margin-bottom: 2rem;
  }
}

/* xs */
@media (max-width: 475px) {
  .video_section h2 {
    font-size: 1.8rem;
  }
}
